* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caveat", cursive;
}

header section {
  height: 50px;
}

header select,
header select option {
  text-transform: capitalize;
  font-size: 1.3rem;
}

main {
  min-height: calc(100vh - 100px);
}

.icon {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animal {
  color: dodgerblue;
}

.vegetable {
  color: goldenrod;
}

.user {
  color: purple;
}

.company {
  color: saddlebrown;
}
